<div class='text-center'>
  <br /><br />
  <img class='img-fluid' alt='Responsive image' src='/images/beer.png' />
  <br />
  <br />
  <a href='/beers' class='btn btn-primary btn-lg'>Check the Beers!</a>
  <br /><br />
  <a href='/random-beer' class='btn btn-primary btn-lg'>Check a Random Beer!</a>
</div>